.bg-white {
    background-color: #ffffff !important;
}
.line-height {
    line-height: 1 !important;
}

.pointer {
    cursor: pointer;
}

.no-border {
    border: none !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.w400 {
    font-weight: normal;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.btn {
    border-radius: 0.25rem;
}

.caption {
    background-color: #f4f9fc;
    display: inline-block;
    align-items: center;
    padding: 0.625rem;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 0;
}

.spacing-avatar {
    margin-right: 0.5em;
}
